@page "/categoria/listar"
@using  PWFilmes.Domain

<h3>Categorias</h3>
<RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true" 
                AllowAlternatingRows="true" 
                FilterMode="FilterMode.Advanced" 
                AllowSorting="true" 
                PageSize="5" 
                AllowPaging="true" 
                PagerHorizontalAlign="HorizontalAlign.Left" 
                ShowPagingSummary="true"
                Data="@categorias" 
                TItem="Categoria" 
                ColumnWidth="300px"
                LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Categoria" Property="Codigo" Filterable="false" Title="Código"  Width="80px" TextAlign="TextAlign.Center" />        
        <RadzenDataGridColumn TItem="Categoria" Property="Descricao" Title="Descrição" Width="200px" />
        <RadzenDataGridColumn TItem="Categoria" Property="Cor" Title="Cor" Width="160px" />
        
    </Columns>
</RadzenDataGrid>

<RadzenButton Text="Hi"></RadzenButton>


<table>
    <tr>
        <th>Descrição</th>
        <th>Cor</th>
    </tr>
    <tr>
        <td>Suspense</td>
        <td>Rosa</td>

    </tr>
    <tr>
        <td>Ação</td>
        <td>Amarelo</td>

    </tr>
</table>

@code {
    List<Categoria> categorias = new List<Categoria>();

    protected override void OnInitialized()
    {


        categorias.Add(new Categoria { Codigo = 1, Descricao = "Suspense", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 2, Descricao = "Romance", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 3, Descricao = "Terror", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 4, Descricao = "Comédia", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 5, Descricao = "Ação", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 6, Descricao = "Drama", Cor = "Vermelha" });
        categorias.Add(new Categoria { Codigo = 7, Descricao = "Documentario", Cor = "Vermelha" });


        base.OnInitialized();
    }

}
